!!!
%html{:dir => "ltr", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
  %body
    %h1 Password Bank
    %button{:name => "button", :type => "button"} Log In
    %button{:name => "button", :type => "button"} Sign Up
