%h1 User Login
%form
  %label{:for => "fname"} Username:
  %input#username{:name => "username", :type => "text"}/
  %br/
  %br/
  %label{:for => "password"} Password:
  %input#password{:name => "password", :type => "text"}/
  %br/
  %br/
  %input{:type => "submit", :value => "Submit"}/
